<div class="footer" id="footer-color">
    <div class="footer-content">
      <div class="footer-section">
        <h3>CUSTOMER CARE</h3>
        <ul>
          <li><a href="#">Order Tracking</a></li>
          <li><a href="#">Shipping & Handling</a></li>
          <li><a href="#">Exchange Policy</a></li>
          <li><a href="#">Order Cancellation Policy</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">FAQ’s</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>INFORMATION</h3>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Store Locator</a></li>
          <li><a href="#">Limelight Trends</a></li>
        </ul>
      </div>
    </div>
    <!-- footer socials -->
   
  <ul class="list-social">
    <li class="list-social__item">
        <a href="https://www.facebook.com/limelight.pret/" class="link list-social__link">
            <img src="images/facebook-box-fill.svg" alt="Facebook" width="30" height="30">
        </a>
    </li>
    <li class="list-social__item">
        <a href="https://www.instagram.com/limelight.pret/" class="link list-social__link">
            <img src="https://cdn.shopify.com/s/files/1/0015/2829/9567/files/insta.png?v=1633504162" alt="Instagram" width="30" height="30">
        </a>
    </li>
    <li class="list-social__item">
        <a href="https://www.youtube.com/limelight.pret/" class="link list-social__link">
            <img src="images\youtube-fill.svg" alt="YouTube" width="30" height="30">
        </a>
    </li>
</ul>

    <div class="footer-payment">
      <div>
      <p>We Accept</p>
      <!-- visa-icon -->
      <img src="https://cdn4.iconfinder.com/data/icons/flat-brand-logo-2/512/visa-1024.png" alt="visa card">
    
      <img src="images/mastercard.svg" alt="Mastercard">
    </div>
    <div class="footer-bottom">
      <p>© 2024 Limelight. Powered by Alchemative</p>
    </div>
  </div>


