<body>
    <header class="header">
      <div class="notification-bar">Free delivery for orders above Rs 4999 within Pakistan</div>
  
      <div class="top-bar">
        <div class="contact-icons">
          <div class="whatsapp-icon-main">
            <a id="cstm-whatsapp-link" href="https://wa.me/923151110333?text" target="_blank" previewlistener="true">
              <img loading="lazy"
                src="https://cdn.shopify.com/s/files/1/2635/3244/files/40_x_40_Whatsapp_PNG.png?v=1642676551"
                alt="Lime Light Whatapps" width="31" height="28">
            </a>
          </div>
          <div class="phoneicon">
            <a href="#" style="color: white; text-decoration: none;">
              <i class="ri-phone-line" style="margin-left: 5px ; font-size: 30px;"></i>
            </a>
          </div>
        </div>
        <div class="search-bar">
          <input type="text" placeholder="Search...">
          <button class="search__button field__button" aria-label="Search">
            <i class="ri-search-line"></i>
          </button>
        </div>
        <div class="logo">
          <img
            src="http://www.limelight.pk/cdn/shop/files/200_X_28_Logo_Limelight_EPS-01_8d3e53a7-d081-4edd-b638-e0e825e8a271.png?v=1675675711"
            alt="Limelight Logo">
        </div>
  
        <div class="cart-section">
          <a href="#">
            <i class="ri-truck-line"></i></a>
          <span class="currency">PKR ▼</span>
          <a href="#"><i class="ri-shopping-cart-2-line"></i></a>
          <a href="#"><i class="fas fa-user"></i></a>
        </div>
      </div>
  
      <nav class="navbar">
        <div class="nav-icon-left"> <a href="/login"><img src="/images/user.png" alt="User Icon" width="30" height="30"></a></div>
        <ul>
          <div class="nav-center">
            <li style="font-family:Ubuntu ; font-weight: 20;"><a href="#">WOMEN</a></li>
            <li style="font-family: Ubuntu; font-weight: 20;"><a href="#">GIRLS</a></li>
            <li style="font-family: Ubuntu; font-weight: 20;"><a href="#">MEN</a></li>
            <li style="font-family: Ubuntu; font-weight: 20;"><a href="#">ACCESSORIES</a></li>
            <li style="font-family:  Ubuntu; font: weight 20;"><a style="color: red;" href="#">SALE</a></li>
            <li style="font-family:  Ubuntu; font: weight 20;"><a href="/admin-panel">Admin-Panel</a></li>
  
        </ul>
        </div>
        <div class="nav-icon-right">
          <a href="/checkout">
            <span style="margin-right: 1px; color: black; height: 5px; width: 5px;">CHECKOUT</span>
            <img src="/images/sign-out.png" alt="Checkout Icon" height="28" width="28"
              style="vertical-align: middle; position: relative; top: -5px;">
          </a>
        </div>
  
  
      </nav>
    </header>